# <center>Часть 2. Работа с геоданными, визуализация

### 2.1. Загрузим агрегированные данные о поездках в мае 2016.   
Просуммируем общее количество поездок такси из каждой географической зоны и посчитаем количество ячеек, из которых в мае не было совершено ни одной поездки.

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path_to_data = 'C:\\Users\dsher\Documents\BIGDATA\sales_prediction_(yellow_taxi)'

In [3]:
# функция для загрузки агрегированных данных
def read_aggdata(file_name):
    return pd.read_csv(os.path.join(path_to_data, file_name), index_col=0, parse_dates=True)

In [4]:
aggdata = read_aggdata('aggdata_2016-05.csv')

In [5]:
aggdata.head()

,1,2,3,4,5,6,7,8,9,10,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,,
2016-05-01 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-05-01 01:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-05-01 02:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-05-01 03:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-05-01 04:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
aggdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 744 entries, 2016-05-01 00:00:00 to 2016-05-31 23:00:00
Columns: 2500 entries, 1 to 2500
dtypes: int64(2500)
memory usage: 14.2 MB

In [7]:
number_zero_cells = aggdata.sum().value_counts()[0]
number_zero_cells

1283

### 2.2. Нарисуем статическую карту Нью-Йорка. 
Поставим на карте точку там, где находится Эмпайр-Стейт-Билдинг.

In [8]:
# границы Нью-Йорка
west_bound = -74.25559
east_bound = -73.70001
south_bound = 40.49612
north_bound = 40.91553
# координаты Empire State Building
long_EMB = -73.985756
lat_EMB = 40.748306

In [9]:
from ipyleaflet import (
    Map,
    Marker, MarkerCluster,
    TileLayer, ImageOverlay,
    Polyline, Polygon, Rectangle, Circle, CircleMarker,
    GeoJSON,
    DrawControl,
    basemaps
)

In [14]:
center = [(south_bound + north_bound) / 2, (west_bound + east_bound) / 2]
zoom = 11

m = Map(center=center, zoom=zoom)
mark = Marker(location=[lat_EMB, long_EMB], name='Empire State Building')
m += mark
m

TWFwKGJhc2VtYXA9eyd1cmwnOiAnaHR0cHM6Ly97c30udGlsZS5vcGVuc3RyZWV0bWFwLm9yZy97en0ve3h9L3t5fS5wbmcnLCAnbWF4X3pvb20nOiAxOSwgJ2F0dHJpYnV0aW9uJzogJ01hcCDigKY=

In [11]:
m.interact(zoom=(5,11,1))

Box(children=(IntSlider(value=11, description=u'zoom', max=11, min=5),))

In [19]:
mark.visible

True